<!DOCTYPE html>
<html>
    <head>
    <title>Hangman</title>
    </head>

    <body>

        <h1>Hangman</h1>
        <div>
            <label for="lengthBox">Word Length:</label>
            <input type="text" id="lengthBox" name="lengthBox" required
               minLength="1" maxLength="2"
               placeholder="Enter Word Length" />

            <button onclick="postLength()">Submit</button>
        </div>


    <script>
        function postLength() {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/hangman/newgame/"+document.getElementById("lengthBox").value, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(null);
            //var response = JSON.parse(xhttp.responseText);
         }


    </script>



    </body>

</html>