<!DOCTYPE html>
<html>
    <head>
    <title>Hangman</title>
    </head>

    <body>

        <h1>Hangman</h1>
        <h2><div id="currentState">{{currentState}}</div></h2>

        <canvas></canvas>

        <div id="usedLetters">Used Letters: {{usedLetters}}</div>

        <div>
            <label for="guessBox">Guess:</label>
            <input type="text" id="guessBox" name="guessBox" required
               minLength="1" maxLength="1"
               placeholder="Enter Letter" />

            <button onclick="postGuess()">Guess</button>
        </div>


    <script>
        function postGuess() {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/hangman/guess/"+document.getElementById("guessBox").value, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(null);
            //var response = JSON.parse(xhttp.responseText);
         }


    </script>



    </body>

    <footer>
        <div>Session = {{session}}</div>
        <div>New Game Word Length = {{wordLength}}</div>
        <div>New Game Selected Word = {{selectedWord}}</div>
        <div>Input Letter = {{inputLetter}}</div>
    </footer>




</html>