<div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center">Hangman</h1>
                </div>
            </div>

             <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class><div id="currentState">{{currentState}}</div></h2>
                </div>
                 <div class="col-md-12 text-center">
                     <canvas id="html-canvas"></canvas>
                 </div>

            </div>
            <div class="col-md-12 text-center">
                <div id="usedLetters">Used Letters: {{usedLetters}}</div>
                <div id="livesRemaining" hidden>{{livesRemaining}}</div>
                <!--action="/hangman/guess" method="post"-->
                <div >
                    <h2>YOU WIN!</h2>
                    <h3>Answer {{selectedWord}}</h3>
                </div>
            </div>
        </div>
    </body>